@model string

@using (Html.BeginForm())
{
    <fieldset>
        <h1>Thanks</h1>
        <p>Thank you for taking the software development career interest quiz. Your results will be emailed to you shortly.</p>
    </fieldset>
}

